@use "var" as *;

.sidebar_right {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: sidebar_right;
  z-index: 2;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 5px;
  width: 200px;

  /* 整个滚动条的宽度 */
  &::-webkit-scrollbar {
    width: 12px; /* 垂直滚动条的宽度 */
    height: 12px; /* 水平滚动条的高度 */
  }

  /* 滚动条轨道 */
  &::-webkit-scrollbar-track {
    background: #666d6f; /* 轨道的背景色 */
    border-radius: 10px; /* 轨道的圆角 */
  }

  /* 滚动条滑块 */
  &::-webkit-scrollbar-thumb {
    background: #2d2b2b; /* 滑块的背景色 */
    border-radius: 0px; /* 滑块的圆角 */
  }
}

.sidebar_right .block {
  // background-color: #68727b;
  background-color: $block-background-color;
  border-bottom: none;
  box-shadow: 0 -2px 0 0 var(--header-background-color) inset;
}

.block {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  background-color: $block-background-color;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border: 1px solid $border-color;
  margin-bottom: 10px;
  user-select: none;
  border-radius: 4px;
}

.block h2 {
  position: relative;
  padding: 2px 5px 2px 6px;
  margin: 0;
  font-size: 110%;
  background-color: rgba(255, 255, 255, 0.3);
  background-color: $header-background-color;
  border-bottom: #555;
  border-radius: 4px 4px 0 0;
}

.toggle {
  cursor: pointer;
}

.block h2.toggle:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  right: 10px;
  top: 10px;
  border-style: solid;
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent $text-color-muted transparent;
}

.block h2.toggled:before {
  border-width: 5px 4px 0 4px;
  border-color: $text-color-muted transparent transparent transparent;
}

.canvas_preview_wrapper {
  position: relative;
  height: 176px;
  margin: 5px 5px 10px 5px;
}

.transparent-grid.white {
  background: white;
}

.transparent-grid {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  // background: url(images/icons/grid.png) repeat top left;
  // background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAQElEQVQ4T2N89+7dfwYigKCgIBGqGBgYRw3EGU6jYYgzaIZAsvn//z9ROeX9+/fE5ZRRA3GG02gY4s4pgz7ZAAAnSWvHPkHXaAAAAABJRU5ErkJggg==) repeat top left;
  z-index: 1;
  image-rendering: pixelated;
}

.preview canvas {
  cursor: pointer;
}

canvas {
  position: relative;
  z-index: 2;
}

.canvas_preview_details button {
  margin: 0;
}

.layer_add {
  display: inline-block;
  padding: 1px 8px;
  margin-right: 10px;
  background-color: #419147;
  background-color: $background-color-active;
  border: 1px solid #444;
  border-color: $border-color;
  color: $text-color-active;
  cursor: pointer;
  text-decoration: none;
}

.canvas_preview_details {
  padding: 0 5px;
}
