@use "var" as *;

.sidebar_left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar_left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $section-background-color;
  padding: 0 5px 5px 0;
  margin-right: 5px;
  overflow: hidden;
  align-self: start;
  width: 40px;
  overflow-y: auto;
  max-height: 100%;
}

.sidebar_left .item {
  position: relative;
  display: block;
  background-color: $area-background-color;
  height: 25px;
  width: 30px;
  margin: 5px 0 0 5px;
  overflow: hidden;
  cursor: pointer;
}

.sidebar_left .item:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: $menu-icons-filter;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.sidebar_left .item.active {
  background-color: $background-color-active;
  color: $text-color-active;
}

.sidebar_left .item.active:after {
  filter: $menu-icons-filter-active;
}

.sidebar_left .select:after {
  background-image: url(../assets/select.svg);
}
.sidebar_left .selection::after {
  background-image: url(../assets/selection.svg);
}
.sidebar_left .brush::after {
  background-image: url(../assets/brush.svg);
}
.sidebar_left .pencil::after {
  background-image: url(../assets/pencil.svg);
}
.sidebar_left .pick_color::after {
  background-image: url(../assets/pick_color.svg);
}
.sidebar_left .erase::after {
  background-image: url(../assets/erase.svg);
}
.sidebar_left .magic_erase::after {
  background-image: url(../assets/magic_erase.svg);
}
.sidebar_left .fill::after {
  background-image: url(../assets/fill.svg);
}
.sidebar_left .shape::after {
  background-image: url(../assets/shape.svg);
}
.sidebar_left .lasso::after {
  background-image: url(../assets/lasso.svg);
}
.sidebar_left .text::after {
  background-image: url(../assets/text.svg);
}
.sidebar_left .media::after {
  background-image: url(../assets/media.svg);
}
.sidebar_left .crop::after {
  background-image: url(../assets/crop.svg);
}
.sidebar_left .blur::after {
  background-image: url(../assets/blur.svg);
}
.sidebar_left .sharpen::after {
  background-image: url(../assets/sharpen.svg);
}
.sidebar_left .desaturate::after {
  background-image: url(../assets/desaturate.svg);
}
.sidebar_left .download::after {
  background-image: url(../assets/download.svg);
}

#popups {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#popups .popup .wide {
  max-width: 840px;
}
#popups .popup {
  position: fixed;
  top: 15vh;
  left: calc(100vw / 2);
  transform: translate(-50%, 0);
  background-color: $block-background-color;
  border: 1px solid $border-color;
  width: 90vw;
  max-height: calc(80vh);
  margin: 0 auto 0 auto;
  padding: 4rem 0 5rem 0;
  box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 100;
  font-size: 13px;
  overflow: hidden;
}

#popups .popup .close {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 0;
  padding: 5px;
  line-height: 0.5;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  background: none;
  z-index: 1;
}

#popups .dialog_content {
  overflow-y: auto;
  max-height: calc(80vh - 11rem);
  padding: 1rem;
}

.shape-item {
  flex: auto;
  margin: 2px 0;
  width: 150px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

#popups .popup .preview-item-title {
  text-align: center;
}
