@use 'var.scss' as *;

.submenu {
  grid-area: submenu;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  background-color: $section-background-color;
  overflow: hidden;
  margin-bottom: 5px;
}

.logo {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 110px;
  padding: 5px 5px 5px 36px;
  margin: 5px;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  color: $text-color;
}

.logo:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 31px;
  height: 30px;
  background: url(../assets/electron.svg) no-repeat center center;
  background-size: auto 28px;
  filter: invert(1);
}

.attributes {
  display: flex;
  flex-wrap: nowrap;
  background-color: $area-background-color;
  width: calc(100% - 125px);
  margin-top: 5px;
  margin-bottom: 5px !important;
  padding: 3px 10px 3px 10px;
  border: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  min-height: 30px;
}

.block{
	position: relative;
	// background-color: rgba(255, 255, 255, 0.2);
	// background-color: var(--block-background-color);
	// border: 1px solid rgba(0, 0, 0, 0.5);
	// border: 1px solid var(--border-color);
	// margin-bottom: 10px;
	user-select: none;
	border-radius: 4px;
}