$menu-text-color: #cccccc;
$menu-background-color: #222;
$menu-icons-filter: invert(1);

$section-background-color: #323a3c;

$background-color-active: #adecab;
$area-background-color: #464d4f;


$text-color: #f4f3f3;
$text-color-muted:#c1c1c1;
$text-color-active:#215b2a;
$text-color-red:#e38282;
$text-color-green:#8bdb8b;
$text-color-blue:#a4a4ff;


$block-background-color:#464d4f;


$header-background-color:#373d3f;


$border-color:#727677;


/* Button */
$button-border-radius: 0.4rem;
$button-background-color-active:#4d5153;
$button-text-color-active:#adecab;
$button-shadow-color:rgba(0, 0, 0, 0.3);
$button-text-color-active:#adecab;


/* Input */
$input-background-color: #2f3739;
$input-border-color:#0f0f0f;
$input-text-color:#f4f3f3;
$input-border-radius:.4rem;
$input-group-border-color: #323a3c;



$number-input-arrow-width: 2rem;

$range-handle-width: 18px;
